*core
*elc
*stuckdump
*~
/.authinfo.plist
/.custom.el
/.forge-database.sqlite
/.history.el
/.recentf.el
/.scratch.el
/auto-save-list
/bookmarks
/customize.el
/el-get
/elpa
/games
/network-security.data
/projectile-bookmarks.eld
/projectile.cache
/tramp
/transient
/url
request
