*core
*elc
*stuckdump
*~
.org-id-locations
/ac-comphist.dat
/auto-save-list
/config/packages/ddskk/emacs-id
/config/packages/ddskk/record
/customize.el
/el-get
/games
/riece/log
/server
/session-save.el
/tramp
/url
