*core
*elc
*stuckdump
*~
.org-id-locations
/ac-comphist.dat
/auto-save-list
/customize.el
/config/packages/ddskk/record
/config/packages/ddskk/emacs-id
/games
/riece/log
/server
/session-save.el
/tramp
/url
/el-get
