### Folder definition file
#
## IMAP
# %/ 
#
## ~/Mail
# +/
#
## ~/Maidir
# ./
#
## Gmail IMAP
# %:takeru.naito/clear@imap.gmail.com:993!/
#

%/
+/

# petname definition (access group, folder in access group)

# end of file.
